<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduate.dao.SwiperMapper">
    <resultMap id="BaseResultMap" type="com.example.graduate.domain.Swiper">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="photo" property="photo" jdbcType="VARCHAR" />
        <result column="isshow" property="isshow" jdbcType="TINYINT" />
    </resultMap>


    <sql id="Base_Column_List">
        id, photo, isshow
    </sql>

    <select id="allSwiper" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from swiper
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from swiper
        where id = #{id,jdbcType=INTEGER}
    </delete>





    <insert id="insertSwiper" parameterType="com.example.graduate.domain.Swiper">
        insert into swiper (id, photo, isshow)
        values (#{id,jdbcType=INTEGER}, #{photo,jdbcType=VARCHAR}, #{isshow,jdbcType=TINYINT})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.graduate.domain.Swiper">
        update swiper
        <set>
            <if test="photo != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isshow != null">
                password = #{isshow,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.graduate.domain.Swiper">
        update swiper
        set photo = #{name,jdbcType=VARCHAR},
            isshow = #{isshow,jdbcType=TINYINT}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateSwiperPhoto" parameterType="com.example.graduate.domain.Swiper">
        update swiper
        <set >
            <if test="swiper != null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>
</mapper>
